<!DOCTYPE html>
<html>

<style>
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label {
  color: black;
}
</style>


<body>
<center><h1><font color="white">Insurance Prediction</h1></center>
<h2>     </h2>

<div align="center" style="margin-right: 30%;
    margin-left: 30%;">

  <form method="POST">
  <form action="/action_page.php">
    <label for="age">Age</label>
    <input type="number" id="age" name="age" placeholder="Age (25-100)" min="25" max="100" step="1" required size="35">

    <label for="sex">Sex</label>
    <select name="sex" id="sex">
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>

    <label for="chest_pain">Type of Chest Pain</label>
    <select name="chest_pain" id="chest_pain">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <label for="resting_bp">Resting BP</label>
    <input type="number" id="resting_bp" name="resting_bp" placeholder="Resting BP (between 50-200)" min="-50" max="200" step="1" required>

    <label for="chol">Serum Cholestrol</label>
    <input type="number" id="chol" name="chol" placeholder="Cholestrol (100-600)" min="100" max="600" step="1" required>

    <label for="fbs">Fasting Blood Sugar</label>
    <select name="fbs" id="fbs">
      <option value="1">True</option>
      <option value="0">False</option>
    </select>

    <label for="restecg">Resting Electrocardiographic Results</label>
    <select name="restecg" id="restecg">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

    <label for="max_hr">Max Heart Rate</label>
    <input type="number" id="max_hr" name="max_hr" placeholder="Max Heart Rate (50-250)" min="50" max="200" step="1" required>

    <label for="exang">Exercise Induced Angina</label>
    <select name="exang" id="exang">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>

    <label for="oldpeak">ST depression induced by exercise relative to rest</label>
    <input type="number" id="oldpeak" name="oldpeak" placeholder="ST depression induced by exercise relative to rest (0 - 10)" min="0" max="10" step="0.1" required>

    <label for="slope">The slope of the peak exercise</label>
    <select name="slope" id="slope">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

    <label for="ca">Number of major vessels</label>
    <select name="ca" id="ca">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

    <label for="thal">HR</label>
    <select name="thal" id="thal">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <input type="submit" value="Predict">
  </form>
</form>

<form method="GET">
    <center><h2><font color="Black"> Predicted Result is:</h2></center>
    <center><h2><font color="Black"> {{msg}} </font></h2></center>
</form>


</div>


</body>
</html>